apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "app.name" . }}-{{ .Release.Name }}
spec:
  selector:
    matchLabels:
      app: {{ include "app.name" . }}-{{ .Release.Name }} # has to match .spec.template.metadata.labels
  replicas: {{ .Values.pods.healthchecksio.replicas }}
  revisionHistoryLimit: 0
  template:
    metadata:
      labels:
        app: {{ include "app.name" . }}-{{ .Release.Name }} # has to match .spec.selector.matchLabels
        # date: "{{ now | unixEpoch }}"
    spec:
      dnsPolicy: ClusterFirst
      enableServiceLinks: true
      securityContext:
        runAsUser: {{ .Values.security.runAsUser }}
        runAsGroup: {{ .Values.security.runAsGroup }}
      containers:
      - name: {{ include "app.name" . }}-{{ .Release.Name }}
        image: {{ .Values.pods.healthchecksio.image }}
        imagePullPolicy: Always
        volumeMounts:
        - name: {{ include "app.name" . }}-{{ .Release.Name }}-{{ .Values.volumes.healthchecksioconfig.name }}
          mountPath: {{ .Values.volumes.healthchecksioconfig.containerMountPath }}
        env:
          - name: TZ
            value: "{{ .Values.pods.healthchecksio.tz }}"
          - name: DEBUG
            value: "{{ .Values.pods.healthchecksio.debug }}"
      - name: {{ .Release.Name }}-configwatcher
        image: alpine:latest
        command: ["/bin/sh", "-c"]
        args:
        - |
          apk add --no-cache inotify-tools kubectl &&
          while inotifywait -m -r -e modify,create,delete --format '%w%f' {{ .Values.volumes.healthchecksioconfig.containerMountPath }} ; do
            echo "File changed! Restarting pod...";
            kubectl delete pod -l app={{ include "app.name" . }}-{{ .Release.Name }};
          done
        volumeMounts:
        - name: {{ include "app.name" . }}-{{ .Release.Name }}-{{ .Values.volumes.healthchecksioconfig.name }}
          mountPath: {{ .Values.volumes.healthchecksioconfig.containerMountPath }}
      volumes:
      - name: {{ include "app.name" . }}-{{ .Release.Name }}-{{ .Values.volumes.healthchecksioconfig.name }}
        nfs:
          server: {{ .Values.volumes.healthchecksioconfig.server }}
          path: {{ .Values.volumes.healthchecksioconfig.path }}
