volumes:
  config:
    name: config
    path: /volume2/docker/loki-exporter/loki-exporter-config-k8s-nfs-pv
    server: 192.168.2.50
    containerMountPath: /config

pods:
  lokiexporter:
    image: ricoberger/loki_exporter:0.4.0
    replicas: 1
    containerPort: 9524
    exposedPort: 30004
