apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}
  labels:
    app.kubernetes.io/name: {{ .Release.Name }}
    helm.sh/chart: {{ include "app.chart" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
spec:
  type: ClusterIP
  ports:
  - name: {{ include "app.name" . }}-{{ .Release.Name }}
    port: {{ .Values.shlink.port }}
    targetPort: {{ .Values.shlink.port }}
  selector:
    app: {{ include "app.name" . }}-{{ .Release.Name }}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}-web
  labels:
    app.kubernetes.io/name: {{ .Release.Name }}
    helm.sh/chart: {{ include "app.chart" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
spec:
  type: ClusterIP
  ports:
  - name: {{ include "app.name" . }}-{{ .Release.Name }}-web
    port: {{ .Values.shlinkweb.port }}
    targetPort: {{ .Values.shlinkweb.port }}
  selector:
    app: {{ include "app.name" . }}-{{ .Release.Name }}-web
