apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: {{ template "app.name" . }}
  name: {{ include "app.name" . }}
spec:
  selector:
    matchLabels:
      app: {{ include "app.name" . }} # has to match .spec.template.metadata.labels
  replicas: {{ .Values.piholeexporter.replicas }}
  revisionHistoryLimit: 0
  template:
    metadata:
      labels:
        app: {{ include "app.name" . }} # has to match .spec.selector.matchLabels
    spec:
      dnsPolicy: ClusterFirst
      enableServiceLinks: true
      containers:
      - name: {{ include "app.name" . }}
        image: {{ .Values.piholeexporter.image }}
        imagePullPolicy: Always
        ports:
        - containerPort: {{ .Values.piholeexporter.containerPort }}
          name: web
        env:
          - name: TZ
            value: "Europe/Paris"
          - name: PORT
            value: {{ .Values.piholeexporter.containerPort | quote }}
          - name: PIHOLE_HOSTNAME
            value: {{ .Values.piholeexporter.pihole_hostname | quote }}
          {{- range $key, $value := .Values.piholeexporter.environment }}
          - name: {{ $key }}
            value: {{ $value | quote }}
          {{- end }}
          - name: PIHOLE_PASSWORD
            valueFrom:
              secretKeyRef:
                name: pihole-exporter-secrets
                key: PIHOLE_API_TOKEN
        securityContext:
          runAsUser: {{ .Values.piholeexporter.security.runAsUser }}
          runAsGroup: {{ .Values.piholeexporter.security.runAsGroup }}
