apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}-serviceold
  labels:
    app.kubernetes.io/name: {{ .Release.Name }}-serviceold
    helm.sh/chart: {{ include "app.chart" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
spec:
  type: NodePort
  ports:
  - port: {{ .Values.php.httpContainerPort }}
    targetPort: {{ .Values.php.httpContainerPort }}
    name: {{ include "app.name" . }}-{{ .Release.Name }}
    nodePort: {{ .Values.php.httpExposedPort }}
  selector:
    app: {{ include "app.name" . }}-{{ .Release.Name }}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}-service
  labels:
    app.kubernetes.io/name: {{ .Release.Name }}-service
    helm.sh/chart: {{ include "app.chart" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
spec:
  type: ClusterIP
  ports:
  - name: {{ include "app.name" . }}-{{ .Release.Name }}
    port: {{ .Values.php.httpContainerPort }}
    targetPort: {{ .Values.php.httpContainerPort }}
  selector:
    app: {{ include "app.name" . }}-{{ .Release.Name }}

---
{{- if .Values.mariadb.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}-mariadb
  labels:
    app.kubernetes.io/name: {{ .Release.Name }}-mariadb
    helm.sh/chart: {{ include "app.chart" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
spec:
  type: ClusterIP
  ports:
  - name: mysql
    port: {{ .Values.mariadb.port }}
    targetPort: {{ .Values.mariadb.port }}
  selector:
    app: {{ include "app.name" . }}-mariadb-{{ .Release.Name }}
{{- end }}

---
{{- if .Values.phpmyadmin.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}-phpmyadmin
  labels:
    app.kubernetes.io/name: {{ .Release.Name }}-phpmyadmin
    helm.sh/chart: {{ include "app.chart" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
spec:
  type: ClusterIP
  ports:
  - name: http
    port: {{ .Values.phpmyadmin.port }}
    targetPort: {{ .Values.phpmyadmin.port }}
  selector:
    app: {{ include "app.name" . }}-{{ .Release.Name }}-phpmyadmin
{{- end }}