immich:
  timezone: Europe/Paris
  nodeSelector:
    silent: fanless
  externalvolumes:
    - name: uploads
      server: 192.168.2.50
      path: /volume2/docker-data/immich/uploads
      mountPath: /data
    - name: images
      server: 192.168.2.50
      path: /volume1/Sauvegardes/OD_perso/Images
      mountPath: /OD_images
      readOnly: true

  apiserver:
    replicas: 1
    image:
      repository: ghcr.io/immich-app/immich-server
      tag: release
      pullPolicy: IfNotPresent
    service:
      port: 2283
    env:
      DB_USERNAME: postgres
      DB_DATABASE_NAME: immich
      DB_PASSWORD: postgres

  machineLearning:
    replicas: 1
    image:
      repository: ghcr.io/immich-app/immich-machine-learning
      tag: release
      pullPolicy: IfNotPresent
    service:
      port: 3003
    volume:
      modelCache:
        enabled: false
        server: 192.168.2.50
        path: /volume2/docker-data/immich/model-cache
        containerMountPath: /cache

  redis:
    image:
      repository: docker.io/valkey/valkey
      tag: 9@sha256:930b41430fb727f533c5982fe509b6f04233e26d0f7354e04de4b0d5c706e44e
      pullPolicy: IfNotPresent
    service:
      port: 6379

  database:
    image:
      repository: ghcr.io/immich-app/postgres
      tag: 14-vectorchord0.4.3-pgvectors0.2.0@sha256:bcf63357191b76a916ae5eb93464d65c07511da41e3bf7a8416db519b40b1c23
      pullPolicy: IfNotPresent
    service:
      port: 5432
    shmSize: 128Mi
    volume:
      database:
        server: 192.168.2.50
        path: /volume2/docker-data/immich/db
        containerMountPath: /var/lib/postgresql/data

  ingress:
    enabled: true
    host: immich.arcanexus.com
    ingressClassName: traefik
    annotations:
      cert-manager.io/cluster-issuer: le-wildcard-issuer
