apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: {{ template "app.name" . }}
  name: {{ include "app.name" . }}
spec:
  selector:
    matchLabels:
      app: {{ include "app.name" . }} # has to match .spec.template.metadata.labels
  replicas: {{ .Values.pods.speedtestexporter.replicas }}
  revisionHistoryLimit: 0
  template:
    metadata:
      labels:
        app: {{ include "app.name" . }} # has to match .spec.selector.matchLabels
        # date: "{{ now | unixEpoch }}"
    spec:
      dnsPolicy: ClusterFirst
      enableServiceLinks: true
      containers:
      - name: {{ include "app.name" . }}
        image: {{ .Values.pods.speedtestexporter.image }}
        imagePullPolicy: Always
        ports:
        - containerPort: {{ .Values.pods.speedtestexporter.containerPort }}
          name: web
        env:
          - name: TZ
            value: "Europe/Paris"
